<p>products works!</p>
<div class="products_container container-md text-center">
  <div class="row m-3">
    <div *ngFor="let product of products" class="col p-5">
      <a routerLink="/product/{{ product.id }}"
        ><h3>{{ product.category }}</h3>
        <img src="{{ product.image }}" />
      </a>
      <h5>{{ product.category }}</h5>
      <button type="button" class="btn btn-info p-1 m-3">Info</button>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="loader">Loading....</div>
</div>
